<?xml version="1.0"?>
<settings>
<cross_sections>/home/jtramm/data/cross_sections.xml</cross_sections>
<servers>2</servers>
  <eigenvalue>
    <batches>20</batches>
    <inactive>10</inactive>
    <particles>100000</particles>
  </eigenvalue>

  <source>
    <space>
      <type>box</type>
      <parameters>
        -160 -160 -183
         160  160  183
      </parameters>
    </space>
  </source>

  <!-- The following specification for the entropy mesh may be incorrect for the -->
  <!-- tallyserver model.  It raises the warning: "WARNING: Fission source -->
  <!-- site(s) outside of entropy box.", which occurs in shannon_entropy(), as a -->
  <!-- result of get_mesh_indices(). -->  

  <!-- If the entropy mesh is not specified here, the entropy mesh will be -->
  <!-- determined by shannon_entropy(), and the warning does not occur. -->  

  <!-- <entropy> -->
  <!--   <lower_left>-182.07 -182.07 -183.00</lower_left> -->
  <!--   <upper_right>182.07  182.07  183.00</upper_right> -->
  <!-- </entropy> -->

</settings>
